.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}

.container {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 400px;
    height: 500px;
    background-color: rgb(165, 164, 164);

    h3 {
        color: rgb(80, 80, 238);
    }

    .tasks {
        width: 90%;
        height: auto;

        .task {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
}